.description-main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    .description-box {

        // box-shadow: 0px 0px 20px 5px black;
        margin-top: 20px;
        border-radius: 15px;
        padding: 15px;
<<<<<<< HEAD
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;
=======
        height: 100%;
>>>>>>> e77efd81dcd9d241238f58d04f36d6c96989ab41

        .card-section {

            display: flex;
<<<<<<< HEAD
            width: 100%;
            gap: 10px;
            border: 1px solid gray;
            border-radius: 8px;
=======
            height: 65vh;
            width: 90vw;
            margin-top: 25px;

            
>>>>>>> e77efd81dcd9d241238f58d04f36d6c96989ab41
            


            .name-title {

                display: flex;
                flex-direction: column;
                padding: 25px;
                gap: 40px;
           

<<<<<<< HEAD
             
=======
                @media(max-width: 760px ) {
                    width: 100%;
                    gap: 15px;
                }

                & h2 {
                    font-size: 250%;

                    @media(max-width: 760px ) {
                        font-size: 25px;
                    }

                }

                & p {
                    font-size: 120%;

                    @media(max-width: 760px ) {
                        font-size: 15px;
                    }
                }
>>>>>>> e77efd81dcd9d241238f58d04f36d6c96989ab41
            }

            .figure-container {

                height: 100%;
                width: 100%;
                padding: 10px;

                &__img {
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                    background-color: rebeccapurple;
                }

<<<<<<< HEAD
=======
                
            }
        }

        .position-1 {

            @media(max-width: 550px) {
                flex-direction: column;
            }
        }

        .position-2 {

            @media(max-width: 550px) {
                flex-direction: column-reverse;
                margin-top: 170px;
>>>>>>> e77efd81dcd9d241238f58d04f36d6c96989ab41
            }
        }
    }
}
@media (max-width:890px){
    .card-section {
        flex-direction: column;
        gap: 0px;

        .name-title {
            height: 50%;

            & p {
                font-size: 14px;
            }
        }
        .figure-container {
            height: 50%;

            & img {
                height: 200px;
                width: 100%;
            }
        }
    }

}