.description-main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;



    .description-box {
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;

        .card-section {
            margin-top: 20px;
            display: flex;
            width: 100%;
            gap: 10px;
            border: 1px solid gray;
            border-radius: 8px;



            .name-title {

                display: flex;
                flex-direction: column;
                padding: 25px;
                gap: 40px;



            }

            .figure-container {

                height: 100%;
                width: 100%;
                padding: 10px;

                &__img {
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                }

            }
        }
    }
}

.back {
    position: fixed;
    top: 50px;
    left: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    z-index: 1;

    &:hover {
        scale: 1.01;
        transition: 0.5s;
    }
}

.imgCarousel {
    background-color: rgb(187, 141, 81);
    position: fixed;

    & figure {

        display: flex;
        padding: 20px;
        justify-content: space-between;
        height: 480px;





        .title-description-container {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;

        }

        .place-title {
            font-size: 30px;
            // width: 85%;
            align-self: center;
        }

        & img {
            width: 40%;
            border-radius: 8px;
            object-fit: fill;
        }

        & p {
            padding: 20px;
        }

        .text-info {
            font-size: 25px;
        }

        .place-parafraph {
            align-self: center;
            width: 90%;
            margin-right: 50px;
            font-size: 20px;
            overflow-y: auto;
            height: 85%;
            padding: 35px;
        }

        .icons-info {
            display: flex;
            flex-direction: column-reverse;
            align-self: center;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

        }

        .whether-icons {

            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            color: white;
            font-size: 55px;
        }

        .place-icons {

            display: flex;
            gap: 25px;

            .icons-tranport {
                color: white;
                font-size: 40px;
            }
        }

        .categories-container {
            display: flex;
            gap: 30px;

            & small {
                border-radius: 25px;
                height: 30px;
                width: auto;
                padding: 5px 5px 5px 5px;
                background-color: #4b25f9;
                color: white;
            }
        }

    }
}

@media (max-width:890px) {
    .card-section {
        flex-direction: column;
        gap: 0px;

        .name-title {
            height: 50%;

            & p {
                font-size: 14px;
            }
        }

        .figure-container {
            height: 50%;

            & img {
                height: 200px;
                width: 100%;
            }
        }
    }

}