.details {
    display: none;
}

.main-fav {

    height: 90vh;
    margin-top: 60px;
    overflow-x: auto;

    .cards-section {

        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        justify-content: center;
        column-gap: 60px;
        row-gap: 40px;


        .main__article {

            border-radius: 10px;


            .image-fig {

                .close-fig {
                    height: 30px;
                    width: 30px;
                    background-color: #ff000094;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top: 40px;
                    left: 310px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .div-container {

                    border-radius: 15px;
                    background-color: rgb(0 0 0);
                    color: white;

                    .img-link-fig {

                        .img {
                            height: 250px;
                            width: 350px;
                            border-radius: 15px 15px 0px 0px
                        }

                        &:hover {
                            padding: 10px;
                            cursor: pointer;
                            .img {
                                display: none;
                            }

                            .details {
                                display: block;
                                width: 350px;
                                height: 250px;
                                overflow-y: auto;
                                font-size: 15px;

                            }
                        }


                    }
                }


            }

            .info-icon-div {

                display: flex;
                justify-content: space-between;
                padding: 5px 15px 5px 15px;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .heart {
                    color: red;
                }
            }
        }
    }
}