.newPlace {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    // background-image: url(https://images.pexels.com/photos/2884864/pexels-photo-2884864.jpeg?cs=srgb&dl=pexels-chris-rodriguez-2884864.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 20px;


    & aside {
        display: flex;
        gap: 10px;

        & button {
            height: 40px;
            border: none;
            border-radius: 8px;
            padding: 10px;
            background-color: #c08b61;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 15px;

            &:hover {
                background-color: #775d4a;
            }
        }
    }


}

.addPlace,
.editPlace {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px;
    width: 500px;
    border-radius: 8px;
    gap: 20px;
    position: relative;


    &__photos {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & small {
            font-size: 16px;

        }


    }

    & form {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        background-color: white;
        overflow-y: auto;

        & label {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: bold;

            & input {
                outline: none;
                height: 40px;
                border: 1px solid gray;
                padding: 5px;
                border-radius: 8px;

            }

            & textarea,
            select {
                border-radius: 8px;
                outline: none;
                padding: 10px;
            }

            & section {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                & small {
                    border-radius: 8px;
                    border: 1px solid gray;
                    padding: 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    justify-content: center;

                    &:hover {
                        scale: 1.1;
                        transition: scale 0.5s;
                    }
                }
            }
        }

        & button {
            height: 40px;
            border-radius: 8px;
            border: 1px solid gray;
            cursor: pointer;
            background-color: #c08b61;
            color: white;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #775d4a;
            }
        }

        & span {
            color: red;
            font-size: 14px;
            font-weight: 400;
        }
    }



}

.addPlace {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px;
    width: 500px;
    border-radius: 8px;
    gap: 20px;

    &__photos {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & small {
            font-size: 18px;

        }


    }



}

.selected {
    background-color: #c08b61;
    color: white;

}

.myPlaces {
    width: 100%;
    height: 100%;
    position: relative;

    
    & div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 5%;

        & figure {
            background-color: white;
            display: flex;
            border-radius: 12px;
            height: 350px;
            width: 100%;
            padding: 10px;
            box-shadow: 0 0 1px 1px;

            & img {
                object-fit: cover;
                width: 40%;
                border-radius: 10px;
            }

            & figcaption {
                padding: 20px;
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 100%;

                & p {
                    overflow-y: auto;
                    height: 200px;
                    font-size: 14px;
                }

                & section {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;

                }

                & h3 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

        }

        & button {
            width: 200px;
            border: 1px solid gray;
            border-radius: 5px;

            &:hover {
                background-color: #c08b61;
                color: white;
            }
        }
    }

    & h1 {
        text-align: center;
        font-size: 30px;
    }
}

.map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    & input {
        border: 1px solid gray;
        border-radius: 8px;
        height: 40px;
        padding-left: 5px;
        outline: none;
    }

    & div {
        width: 95%;
    }



    & small {
        height: 40px;
        padding: 5px;
        background-color: #c08b61;
        border-radius: 8px;
        color: white;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        gap: 5px;

        &:hover {
            background-color: #775d4a;
            cursor: pointer;
        }
    }
}

.delete {
    font-size: 30px;
    color: red;
    cursor: pointer;

    &:hover {
        scale: 1.05;
    }
}

// .modalEdit {
//     display: block;
//     background-color: rebeccapurple;
//     position: absolute;
//     height: 100vh;
//     width: 100%;
// }
// .hidden {
//     display: none;
// }


@media (max-width:600px) {
    .newPlace {}

    .addPlace {
        width: 90%;
    }
    .addPlace {
        width: 90%;
    }

    .myPlaces {
        & div figure {
            flex-direction: column;
            height: 550px;

            & img {
                width: 100%;
                height: 40%;
            }

            & figcaption {
                width: 100%;
                padding: 10px;
                height: 100%;
                gap: 10px;

                & p {
                    height: 120px;

                }

                & section {
                    gap: 10px;
                }

            }
        }
    }

}